<a href="<%= order_path(individual_order) %>" class="order-link">
  <ul class="individual-order">
    <li class="order-num"><%= "ORDER ##{individual_order.id}" %></li>
    <div>
      <li><%= individual_order.created_at.strftime("%Y AD / %b  %-d") %></li>
      <li><%= ("%.2f" % individual_order.total) %></li>
    </div>
  </ul>
</a>
