  <a href="<%= user_path(merchant) %>">
    <ul class="merchant-ul">
      <li class="merchant-name">
        <%=  "#{merchant.store_name}" %>
      </li>
      <li class="merchant-pic">
        <%=  image_tag merchant.store_banner_img, alt: "a pic of some awful capitalist bullshit" %>
      </li>
      <li class="merchant-desc">
        <%=  "#{merchant.store_description}" %>
      </li>
    </ul>
  </a>
