<h2><%= @user.name.downcase %></h2>
<%= render partial: "form_users" %>

<% if @user.merchant == true %>
<section>  
<h4>manage YR pop-up</h4>
<%= render partial: "form_merchant" %>
</section>
<% end %>
