<a href="<%= user_path(popup) %>">
  <ul>
    <li>
      <%=  image_tag popup.store_banner_img, alt: "a pic of some awful capitalist bullshit" %>
    </li>
    <li class="pop-up-title">
      <%=  "#{popup.store_name}" %>
    </li>
  </ul>
</a>
