<h1>fetch: we are making it happen</h1>
<section>
  <h2>OK, you should just know, that we don't do this a lot,</h2>
  <h3>so this is, like, a really huge deal.</h3>
  <h4>we wanna invite you to shop with us</h4>
  <h5>every day for the rest of the week</h5>
  <h6>so we'll see you tomorrow.</h6>
  <div>
   ...oh, and on Wednesdays, we wear pink.
  </div>
</section>
<section>
  <h1>meet team fetch.</h1>
  <div>
    <img src="https://avatars.githubusercontent.com/addisoncole" alt="Picture of developer, Addison">
    <h3>addison</h3>
  </div>
   <div>
     <img src="https://avatars.githubusercontent.com/haydenwilliams" alt="Picture of developer, Hayden">
     <h3>hayden</h3>
   </div>
   <div>
     <img src="https://avatars.githubusercontent.com/kimj42" alt="Picture of developer, Karis">
     <h3>karis</h3>
   </div>
   <div>
     <img src="https://avatars.githubusercontent.com/arangn" alt="Picture of developer, Naheed">
     <h3>naheed</h3>
   </div>
</section>
