<div class="snap-container">
  <h1 class="child">let's make it happen <%= "\u{1F607}" %></h1>
  <section class="mean-girls">
    <h2>OK,</h2>
    <h2>you should just know,</h2>
    <h2>that we don't do this a lot</h2>
    <h3>so this is, like, a really huge deal</h3>
    <h4>we wanna invite you to shop with us</h4>
    <h5>every day for the rest of the week</h5>
    <h6>so we'll see you tomorrow.</h6>
    <p>
      oh, and on Wednesdays, we wear pink.
    </p>
  </section>
  <section>
    <h1 class="meat-team child">meet team fetch.</h1>
    <div class="team-container">
      <div>
        <img src="https://avatars.githubusercontent.com/addisoncole" alt="Picture of developer, Addison" class="team-pic">
        <h3>addison</h3>
      </div>
      <div>
        <img src="https://avatars.githubusercontent.com/haydenwilliams" alt="Picture of developer, Hayden" class="team-pic">
        <h3>hayden</h3>
      </div>
      <div>
        <img src="https://avatars.githubusercontent.com/kimj42" alt="Picture of developer, Karis" class="team-pic">
        <h3>karis</h3>
      </div>
      <div>
        <img src="https://avatars.githubusercontent.com/arangn" alt="Picture of developer, Naheed" class="team-pic">
        <h3>naheed</h3>
      </div>
    </div>
  </section>
</div>
