/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

@font-face {
  font-family: 'NeuePlakWide';
  src: font-url('neueplakwide.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeuePlakSemi';
  src: font-url('neueplaksemi.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeuePlakReg';
  src: font-url('neueplakreg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeuePlakLight';
  src: font-url('neueplaklight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#fdfff7, #fdfff7, #fefffc, #fefffc, #ffffff);
}

main {
  width: 77.5vw;
}

ul {
  list-style: none;
}

.body-container {
  max-width: 90vw;
}

header {
  margin-left: -.3vw;
}

.bag-container {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 2vw;
  right: 3.6vw;
  width: 16vw;
  min-height: 15vw;
  padding: 0 2.3vw 0 0;
  border: 1px solid #404040;
  box-shadow: 5px 5px #404040;
  background-color: #fdfff7;
}

.my-bag {
  color: #404040;
  font-family: 'NeuePlakSemi';
  font-size: 2vw;
  opacity: .97;
}

.my-bag:hover {
  text-decoration: none;
  opacity: .8;
  animation-name: shadowfade;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.header-button {
  color: #404040;
  font-family: 'NeuePlakSemi';
  font-size: 2vw;
  opacity: .97;
}

.header-button:hover {
  text-decoration: none;
  opacity: .8;
  animation-name: shadowfade;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.login {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.guest-msg {
  color: #404040;
  font-family: 'NeuePlakSemi';
  font-size: 1.5vw;
  white-space: normal;
  text-align: right;
  margin-bottom: .4vw;
  margin-top: 1.4vw;
}

.emoji {
  font-size: 1.7vw;
  margin-right: .5vw;
}

.login-name-li {
  text-align: right;
  line-height: 1.5vw;
  margin-bottom: .1vw;
  padding-bottom: .2vw;
  border-bottom: 1px solid #404040;
}

.login-name:hover, .login-button:hover {
  opacity: .8;
  animation-name: shadowfade;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.login a {
  text-decoration: none;
  color: #404040;
  font-family: 'NeuePlakSemi';
  font-size: 2vw;
}

.vines {
  position: fixed;
  top: 10vw;
  right: 1.5vw;
  z-index: -1;
  width: 15vw;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2.4vw;
}

.audio-player {
  position: fixed;
  bottom: 1vw;
  right: 1.5vw;
  width: 18.5vw;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 60%;
  flex-shrink: 1;
  margin-left: 8vw;
  margin-top: -.7vw;
}

.header-nav ul {
  list-style: none;
  margin-bottom: 0px;
}

.header-nav ul li {
  white-space: nowrap;
}

.header-nav a {
  text-decoration: none;
  color: #404040;
  font-family: 'NeuePlakSemi';
  font-size: 2.7vw;
  opacity: .97;
}

.header-nav a:hover {
  opacity: .8;
  animation-name: shadowfade;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes shadowfade {
  0% {color: #404040;
  text-shadow: 3px -3px 0px #ffffff,
   5px -7px 0px #ffffff,
   -3px 3px 0px #ffffff,
    -5px 7px 0px #ffffff;}
  33% {color: #ff6b25;
  text-shadow: 3px -3px 0px #fffd67,
   5px -7px 0px #ffffff,
   -3px 3px 0px #fffd67,
    -5px 7px 0px #ffffff;}
  66% {color: #ff6b25;
  text-shadow: 3px -3px 0px #ffffff,
   5px -7px 0px #6787ff,
   -3px 3px 0px #ffffff,
    -5px 7px 0px #6787ff;}
}

.header-nav-links {
  display: flex;
}

.header-nav-links li {
  margin-left: 1vw;
  margin-right: 1vw;
}

.logo-container {
  margin-left: 3.4vw;
  width: 30vw;
  position: relative;
  display: inline-block;
}

.logo {
  max-width: 100%;
  height: auto;
}

.logo-top {
  max-width: 100%;
  height: auto;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.logo-container:hover .logo-top {
    display: inline;
}

.tagline {
  display: block;
  float: right;
  margin-top: -2%;
}

.logo-container a {
  font-size: 1.35vw;
  font-family: 'NeuePlakWide';
  color: #404040;
  text-decoration: none;
}

.categories-nav {
  display: flex;
  justify-content: flex-start;
  margin-top: -1.2vw;
  margin-left: 1.8vw;
  height: 9vw;
}

.categories {
  display: flex;
  justify-content: space-around;
  width: 75%;
  padding-left: 0px;
  list-style: none;
}

.categories a {
  text-decoration: none;
  font-family: 'NeuePlakSemi';
  font-size: 2.5vw;
  color: #ff6b25;
  text-shadow: 0px 5px 0px #fffd67,
   0px 10px 0px #6787ff;
  opacity: .7;
}

.categories a:hover {
  animation-name: shadowcycle;
  animation-iteration-count: infinite;
  animation-duration: .75s;
  opacity: .9;
}

@keyframes shadowcycle {
  0% {color: #6787ff;
    text-shadow: 0px 5px 0px #fffd67,
     0px 10px 0px #ff6b25;}
  16% {color: #ff6b25;
    text-shadow: 0px 5px 0px #6787ff,
     0px 10px 0px #fffd67;}
  32% {color: #fffd67;
    text-shadow: 0px 5px 0px #ff6b25,
     0px 10px 0px #6787ff;}
  49% {color: #6787ff;
    text-shadow: 0px 5px 0px #fffd67,
     0px 10px 0px #ff6b25;}
  65% {color: #ff6b25;
    text-shadow: 0px 5px 0px #6787ff,
     0px 10px 0px #fffd67;}
  81% {color: #fffd67;
    text-shadow: 0px 5px 0px #ff6b25,
     0px 10px 0px #6787ff;}
  100% {color: #6787ff;
       text-shadow: 0px 5px 0px #fffd67,
        0px 10px 0px #ff6b25;}
}

.cat1 {
  transform: translate(1vw, 1.6vw) rotate(3deg) scale(1, 1.2);
}

.cat2 {
  transform: translate(1.4vw, 2vw) rotate(-5deg) skewX(20deg);
}

.cat3 {
  transform: translate(1.9vw, 3.3vw) rotate(1deg) scale(1.2, 1.7);
}

.cat4 {
  transform: translate(3.5vw, 1.5vw) rotate(-20deg);
}

.cat5 {
  transform: translate(6vw, 1.6vw) rotate(6deg) scale(1.9, 1);
}

main {
  margin-left: 3vw;
}

footer {
  margin-top: 2vw;
  padding-top: 8vw;
  padding-bottom: 2vw;
  background-image: linear-gradient(#ffffff, #a5b4d5);
}

footer span {
  font-family: NeuePlakWide;
  margin-left: 4vw;
  text-align: left;
  color: #ffffff;
  opacity: .8;
  text-shadow: 1px 1px 2px #404040;
}
