// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: #ffffff;
  font-family: NeuePlakWide;
  font-size: 6vw;
  opacity: .5;
  padding-top: .7vw;
  margin-bottom: 2vw;
  margin-right: 6vw;
  text-align: right;
  text-shadow: 0vw -.6vw 1vw #6787ff,
  0vw .6vw 1vw #ff6b25,
  -.9vw 0vw 1vw #fffd67,
  .9vw 0vw 1vw pink;
  border-top: 1px solid #404040;
}

.order-info {
  width: 23vw;
  border: 1px solid #404040;
  padding: 0 2.3vw 0 0;
  margin: 0;
  margin-bottom: 5vw;
  box-shadow: 5px 5px #404040;
  background-color: #fdfff7;
  list-style: none;
}

.order-info p {
  font-family: NeuePlakReg;
  font-size: 1.1vw;
}

.order-info input {
  display: block;
  width: 18.8vw;
}

.order-info label {
  margin-bottom: 0;
  margin-top: .5vw;
  font-family: NeuePlakReg;
  font-size: 1.2vw;
}

.submit {
  margin-top: 1vw;
  font-family: NeuePlakReg;
  font-size: 1vw;
  font-style: italic;
  padding: .7vw 3.5vw .9vw 3.5vw;
  border-radius: 3px;
}

.order-info-header {
  border-bottom: 1px solid #404040;
  padding-left: 1.5vw;
  padding-top: 2vw;
  font-family: NeuePlakSemi;
  color: #404040;
  font-size: 3vw;
}

.order-info form {
  margin-left: 2vw;
  margin-bottom: 2vw;
}

.order-info p:first-of-type {
  margin-top: 1vw;
  margin-bottom: .5vw;
}

.order-data {
  list-style: none;
  font-family: NeuePlakReg;
  color: #404040;
  font-size: 1.5vw;
  margin-bottom: 2.7vw;
}

.order-data li:nth-of-type(odd) {
  text-decoration: underline;
}

.order-data li:nth-of-type(even) {
  line-height: 1.8vw;
  margin-bottom: 1vw;
  margin-left: 1vw;
  font-family: NeuePlakLight;
}

.items-info {
  width: 50vw;
  height: max-content;
  border: 1px solid #404040;
  padding: 0 2.3vw 0 0;
  margin: 0;
  margin-left: 2.2vw;
  box-shadow: 5px 5px #404040;
  background-color: #fdfff7;
}

.items-info-header {
  display: block;
  border-bottom: 1px solid #404040;
  padding-left: 1.5vw;
  padding-top: 2vw;
  font-family: NeuePlakSemi;
  color: #404040;
  font-size: 3vw;
}

.items-info-headers-container {
  display: grid;
  grid-template-columns: 22.7vw 7.5vw 7.5vw 7.7vw 4.6vw;
  justify-items: end;
}

.items-info-heading {
  font-family: NeuePlakSemi;
  color: #404040;
  font-size: 1.4vw;
  margin: 0;
  margin-bottom: 0vw;
}

.itemheading1 {
  grid-column-start: 3;
}

.itemheading2 {
  grid-column-start: 4;
}

.cart-entry {
  display: grid;
  grid-template-columns: 22.7vw 7.5vw 7.5vw 7.7vw 4.6vw;
  justify-items: end;
  list-style: none;
  margin-top: 1vw;
  font-family: NeuePlakLight;
  font-size: 1.3vw;
  padding: 0;
  padding-right: 2.3vw;
}

.cart-entry:nth-last-child(2) {
  margin-bottom: .8vw;
}

.entry-status {
  grid-column-start: 4;
  text-align: right;
}

.entry-total {
  grid-column-start: 3;
}

.entry-qty {
  grid-column-start: 2;
}

.entry-name {
  grid-column-start: 1;
}

.grand-total {
  border-top: 1px dashed #404040;
  padding-top: .6vw;
  font-family: NeuePlakReg;
  font-size: 1.4vw;
}

.shit-container {
  display: flex;
}
